<template>
  <div class="h-full">
    <nav class="flex items-center" role="navigation">
      <div id="navbar-default" class="w-full block relative md:mr-0 mr-3 top-full">
        <ul class="font-medium flex flex-col p-0 md:flex-row md:space-x-8 mt-0 md:border-0">
          <NuxtLink to="https://github.com/suitmedia/generator-suit-baze" target="_blank">
            <nuxt-icon name="icon-github" class="text-3xl fill-white" filled />
          </NuxtLink>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script setup>
import { onMounted } from 'vue'

const showMenu = ref(false)

const el = ref(null)

onMounted(() => {
  el.value = document.getElementById('navbar-default')

  window.addEventListener('click', onClickOutside)
})

const onClickOutside = e => {
  if (
    e.target !== el.value &&
    e.target !== document.getElementById('buttonShowMenu')
  ) {
    showMenu.value = false
  }
}
</script>
