<template>
  <header class="sticky top-0 z-40 flex justify-between items-center space-x-1 md:px-8 md:py-2 shadow-2xl bg-primary">
    <div class="container md:mx-auto flex flex-wrap items-center justify-between md:p-1">
      <div class="flex items-center">
        <button class="bg-black p-3 md:hidden" @click="() => { props.setIsSidebarOpen(!props.isSidebarOpen) }">
          <nuxt-icon name="icon-hamburger-menu" filled class="text-2xl text-white"/>
        </button>
        <NuxtLink class="font-mono flex items-center gap-3" :to="localePath(`/`)">
          <nuxt-img src="/assets/img/site-logo.png" alt="Logo" width="35" loading="lazy" quality="80" />
          <span class="font-semibold text-white text-2xl">Suitbaze</span>
        </NuxtLink>
      </div>
      <HeaderNav />
    </div>
  </header>
</template>

<script setup>
const props = defineProps({
  isSidebarOpen: {
    type: Boolean,
    default: false
  },
  setIsSidebarOpen: {
    type: Function,
    default: () => {}
  }
})
const localePath = useLocalePath()
</script>
