<template>
    <main id="main" role="main" class="container">
        <article id="table">
            <h1 class="text-4xl font-bold font-mono text-primary mb-5">Table</h1>
            <section class="border-b pb-5">
                <div class="table-wrapper">
                    <table class="table">
                        <caption class="hidden">Monthly savings</caption>
                        <thead>
                            <tr>
                                <th>Header 1</th>
                                <th>Header 2</th>
                                <th>Header 3</th>
                                <th>Header 4</th>
                                <th>Header 5</th>
                                <th>Header 6</th>
                                <th>Header 7</th>
                                <th>Header 8</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Row 2 col 1
                                </td>
                                <td>
                                    Row 2 col 2
                                </td>
                                <td>
                                    Row 2 col 3
                                </td>
                                <td>
                                    Row 2 col 4
                                </td>
                                <td>
                                    Row 2 col 5
                                </td>
                                <td>
                                    Row 2 col 6
                                </td>
                                <td>
                                    Row 2 col 7
                                </td>
                                <td>
                                    Row 2 col 8
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Row 3 col 1
                                </td>
                                <td>
                                    Row 3 col 2
                                </td>
                                <td>
                                    Row 3 col 3
                                </td>
                                <td>
                                    Row 3 col 4
                                </td>
                                <td>
                                    Row 3 col 5
                                </td>
                                <td>
                                    Row 3 col 6
                                </td>
                                <td>
                                    Row 3 col 7
                                </td>
                                <td>
                                    Row 3 col 8
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Change
                                </td>
                                <td>
                                    window
                                </td>
                                <td>
                                    size
                                </td>
                                <td>
                                    to see
                                </td>
                                <td>
                                    Table
                                </td>
                                <td>
                                    Wrapper
                                </td>
                                <td>
                                    in
                                </td>
                                <td>
                                    action!
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <highlightjs lang="markdown" class="my-5 text-sm" :code="tableCode" />
            <h2 class="text-4xl font-bold font-mono text-primary mb-5">Data Table</h2>
            <div class="flex item-center justify-between font-mono mb-5">
                <div>
                    <span>Show</span>
                    <select class="border border-black mx-2">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                    <span>entries</span>
                </div>
                <div class="flex items-center gap-3">
                    <span>Search:</span>
                    <form>
                        <input name="search" type="text" class="border border-black rounded"/>
                    </form>
                </div>
            </div>
            <section>
                <div class="table-wrapper">
                    <table class="table">
                        <caption class="hidden">Data Table</caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Row 2 Col 2</td>
                                <td>Row 2 Col 3</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Row 3 Col 2</td>
                                <td>Row 3 Col 3</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Window</td>
                                <td>size</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Window</td>
                                <td>size</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Window</td>
                                <td>size</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Window</td>
                                <td>size</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Window</td>
                                <td>size</td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Window</td>
                                <td>size</td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Window</td>
                                <td>size</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Window</td>
                                <td>size</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex items-center flex-wrap justify-between mt-5">
                    <p>Showing 0 to 0 of 0 entries (filtered from NaN total entries)</p>
                    <div class="pagination">
                        <ol class="pagination flex items-center justify-center gap-3 my-5">
                            <li v-for="items in paginationDatas" :key="items.label">
                                <a v-if="items.label !== 'previous' && items.label !== 'next'" class="w-full h-full flex items-center justify-center" :class="{ 'is-active' : items.label === activePage }" href="#" @click="activePage = items.label">{{ items.label }}</a>
                                <a v-else href="#">
                                    <i v-if="items.label === 'previous'" class="fas fa-angle-left"></i>
                                    <i v-else-if="items.label === 'next'" class="fas fa-angle-right"></i>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </section>
            <highlightjs lang="markdown" class="my-5 text-sm" :code="dataTableCode" />
        </article>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/table',
    en: '/table'
})

const activePage = ref('1')

const paginationDatas = [
    {
        label: 'previous',
        url: '#'
    },
    {
        label: '1',
        url: '#'
    },
    {
        label: '2',
        url: '#'
    },
    {
        label: '3',
        url: '#'
    },
    {
        label: '4',
        url: '#'
    },
    {
        label: 'next',
        url: '#'
    }
]


const tableCode = `<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Header 4</th>
                <th>Header 5</th>
                <th>Header 6</th>
                <th>Header 7</th>
                <th>Header 8</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 2 Col 1</td>
                <td>Row 2 Col 2</td>
                <td>Row 2 Col 3</td>
                <td>Row 2 Col 4</td>
                <td>Row 2 Col 5</td>
                <td>Row 2 Col 6</td>
                <td>Row 2 Col 7</td>
                <td>Row 2 Col 8</td>
            </tr>
            <tr>
                <td>Row 3 Col 1</td>
                <td>Row 3 Col 2</td>
                <td>Row 3 Col 3</td>
                <td>Row 3 Col 4</td>
                <td>Row 3 Col 5</td>
                <td>Row 3 Col 6</td>
                <td>Row 3 Col 7</td>
                <td>Row 3 Col 8</td>
            </tr>
            <tr>
                <td>Change</td>
                <td>Window</td>
                <td>size</td>
                <td>to see</td>
                <td>Table</td>
                <td>Wrapper</td>
                <td>in</td>
                <td>action!</td>
            </tr>
        </tbody>
    </table>
</div>`

const dataTableCode = `<table class="js-datatable mb-4" data-table="https://reqres.in/api/users?page=1&per_page=12">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
</table>`
</script>

<style lang="scss" scoped>
.table-wrapper {
    @apply lg:overflow-visible overflow-x-scroll;
}

.table {
    @apply w-full border-collapse border-spacing-0;
    display: table;
}

.table thead {
    @apply text-white bg-[#444];
}

.table td,
.table th {
    @apply p-[8px] border border-[#ddd] text-[90%];
}

tr {
    @apply table-row;
}

tbody {
    @apply table-row-group;
}

// pagination
.pagination li:not(:first-child):not(:last-child){
    @apply w-10 h-10 bg-custom-light-grey hover:text-red-600;
    @apply flex items-center justify-center;
    @apply hover:bg-gray-300;
}

.is-active {
    @apply bg-gray-300 font-bold;
}
</style>
