<template>
  <div class="container">
    <UtilsBreadCrumbs :custom-titles="[{ index: 2, newVal: 'Listings' }]" />
    <div class="flex justify-between mt-24 items-center">
      <h1 class="text-6xl">My Listings</h1>
      <NuxtLink
        :to="localePath('/profile/listings/create')"
        class="w-9 h-9 bg-blue-400 flex justify-center items-center rounded-full text-white font-bold cursor-pointer"
      >
        +
      </NuxtLink>
    </div>
    <div class="shadow rounded p-3 mt-5">
      <CarListingCard
        v-for="listing in listings"
        :key="listing.id"
        :listing="listing"
      />
    </div>
  </div>
</template>

<script setup>
definePageMeta({
  layout: 'custom'
})

defineI18nRoute({
  paths: {
    id: '/profil/daftar',
    en: '/profile/listings'
  }
})

const localePath = useLocalePath()

const { listings } = useCars()
</script>
