<template>
    <div class="sidebar fixed top-12 left-0 bottom-0 overflow-y-auto py-3 transition duration-200 md:-translate-x-0 -translate-x-52 bg-white z-30" :class="{ '!translate-x-0' : props.isSidebarOpen }">
        <ul class="flex flex-col">
            <NuxtLink v-for="(data, index) in sidebarData[locale]" :key="index" :to="localePath(data.to)">
                <li
                    class="p-3 px-8 transition duration-200 hover:bg-gray-200" :class="{ 'bg-custom-light-grey font-bold' : checkPathname(data.to) }">
                    {{ data.name }}
                </li>
            </NuxtLink>
        </ul>
    </div>
    <div v-if="props.isSidebarOpen" class="cursor-pointer backdrop fixed top-0 bottom-0 left-0 right-0 z-20"  @click="() => { props.setIsSidebarOpen(false) }" />
</template>

<script setup>
import { data as menus } from "@/data/menus.json"
const localePath = useLocalePath()
const { locale } = useI18n()
const router = useRoute()

const props = defineProps({
    isSidebarOpen: {
        type: Boolean,
        default: () => {}
    },
    setIsSidebarOpen: {
        type: Function,
        default: () => {}
    }
})

const sidebarData = menus

const checkPathname = (pathname) => {
    if (process.server) return
    const path = router.path.replace(`/${locale.value}`, '')
    return pathname === path
}
</script>
