<script setup>
import heartFilled from '@/assets/heartFilled.png'
import heartOutline from '@/assets/heartOutline.png'
defineProps({
  car: {
    type: Object,
    default: null
  },
  favored: Boolean
})

const emit = defineEmits(['favor'])
</script>

<template>
  <div
    class="relative shadow border w-full overflow-hidden mb-5 cursor-pointer h-[200px]"
  >
    <img
      :src="favored ? heartFilled : heartOutline"
      alt="Favorite"
      class="absolute w-7 right-5 top-2 z-20"
      @click="emit('favor', car.id)"
    />
    <div class="flex h-full" @click="navigateTo(`/car/${car.name}-${car.id}`)">
      <nuxt-img class="w-[300px] h-full" :src="car.url" alt="" />
      <div class="p-4 flex flex-col">
        <h1 class="text-2xl text-blue-700">
          {{ car.name }}
        </h1>
        <p class="text-gray-700 text-ellipsis overflow-hidden h-[20px]">
          {{ car.description }}
        </p>
        <h1 class="mt-auto text-xl">${{ car.price }}</h1>
      </div>
    </div>
  </div>
</template>
