<template>
    <main id="main" role="main" class="container">
        <article id="grid">
            <h1 class="text-4xl font-bold font-mono text-primary mb-5">Default Grid</h1>
            <section>
                <div class="bzg">
                    <div class="bzg_c" data-col="m3">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m3
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m3">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m3
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m3">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m3
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m3">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m3
                        </div>
                    </div>
                </div>
                <div class="bzg">
                    <div class="bzg_c" data-col="m4">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m4
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m4">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m4
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m4">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m4
                        </div>
                    </div>
                </div>
            </section>
            <highlightjs lang="markdown" class="my-5 text-sm" :code="defaultGridCode"/>
            <section>
                <h2 class="text-4xl font-bold font-mono text-primary mb-5">No Gutter Grid</h2>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m1">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m1
                        </div>
                    </div>
                </div>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m2">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m2
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m2">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m2
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m2">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m2
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m2">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m2
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m2">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m2
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m2">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m2
                        </div>
                    </div>
                </div>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m3">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m3
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m3">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m3
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m3">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m3
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m3">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m3
                        </div>
                    </div>
                </div>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m4">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m4
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m4">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m4
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m4">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m4
                        </div>
                    </div>
                </div>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m6">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m6
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m6">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m6
                        </div>
                    </div>
                </div>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m7">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m7
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m5">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m5
                        </div>
                    </div>
                </div>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m12">
                        <div class="bg-custom-blue text-white text-center">
                            bzg_c m12
                        </div>
                    </div>
                </div>
            </section>
            <highlightjs lang="markdown" class="my-5 text-sm" :code="gutterGridCode"/>
            <section>
                <h2 class="text-4xl font-bold font-mono text-primary mb-5">Grid With Offset</h2>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m2">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m2
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m5" data-offset="m5">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m5 offset=m5
                        </div>
                    </div>
                </div>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m3" data-offset="m3">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m3 offset=m3
                        </div>
                    </div>
                    <div class="bzg_c" data-col="m3" data-offset="m3">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m3 offset=m3
                        </div>
                    </div>
                </div>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="m6" data-offset="m3">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c m3 offset=m3
                        </div>
                    </div>
                </div>
            </section>
            <highlightjs lang="markdown" class="my-5 text-sm" :code="gridWithOffsetCode"/>
            <section>
                <h2 class="text-4xl font-bold font-mono text-primary mb-5">Responsive Grid</h2>
                <div class="bzg--no-gutter bzg">
                    <div class="bzg_c" data-col="s12,m9,l6">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c s12,m9,l6
                        </div>
                    </div>
                    <div class="bzg_c" data-col="s6,m3,l6">
                        <div class="bg-custom-blue text-white text-center whitespace-nowrap px-2 py-1 text-sm">
                            bzg_c s6,m3,l6
                        </div>
                    </div>
                </div>
            </section>
            <highlightjs lang="markdown" class="my-5 text-sm" :code="gridWithOffsetCode"/>
        </article>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/grid',
    en: '/grid'
})

const defaultGridCode = `<div class="bzg">
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
</div>
<div class="bzg">
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
</div>`

const gutterGridCode = `<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
    <div class="bzg_c" data-col="m1"><div class="text-center bg-primary text-white">bzg_c m1</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
    <div class="bzg_c" data-col="m3"><div class="text-center bg-primary text-white">bzg_c m3</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
    <div class="bzg_c" data-col="m4"><div class="text-center bg-primary text-white">bzg_c m4</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m6"><div class="text-center bg-primary text-white">bzg_c m6</div></div>
    <div class="bzg_c" data-col="m6"><div class="text-center bg-primary text-white">bzg_c m6</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m7"><div class="text-center bg-primary text-white">bzg_c m7</div></div>
    <div class="bzg_c" data-col="m5"><div class="text-center bg-primary text-white">bzg_c m5</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m12"><div class="text-center bg-primary text-white">bzg_c m12</div></div>
</div>`

const gridWithOffsetCode = `<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m2"><div class="text-center bg-primary text-white">bzg_c m2</div></div>
    <div class="bzg_c" data-col="m5" data-offset="m5"><div class="text-center bg-primary text-white">bzg_c m5 offset=m5</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m3" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m3 offset=m3</div></div>
    <div class="bzg_c" data-col="m3" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m3 offset=m3</div></div>
</div>
<div class="bzg bzg--no-gutter">
    <div class="bzg_c" data-col="m6" data-offset="m3"><div class="text-center bg-primary text-white">bzg_c m6 offset=m3</div></div>
</div>`
</script>

<style lang="scss" scoped>
.bzg {
    @apply -ml-[25px] flex md:flex-row flex-col flex-wrap border border-white;
}

.bzg_c[data-col*=s6] {
    @apply min-h-[1px] pl-[25px] w-1/2 border border-white;
}

.bzg_c[data-col*=s12] {
    @apply min-h-[1px] pl-[25px] w-full border border-white;
}

.bzg_c[data-col*=m9] {
    @apply min-h-[1px] pl-[25px] md:w-3/4 border border-white;
}

.bzg_c[data-col*=l6] {
    @apply min-h-[1px] pl-[25px] lg:w-1/2 border border-white;
}

.bzg_c[data-col=m12] {
    @apply min-h-[1px] pl-[25px] w-full border border-white;
}

.bzg_c[data-col=m7] {
    @apply min-h-[1px] pl-[25px] md:w-7/12 w-full border border-white;
}

.bzg_c[data-col=m6] {
    @apply min-h-[1px] pl-[25px] md:w-1/2 w-full border border-white;
}

.bzg_c[data-col=m5] {
    @apply min-h-[1px] pl-[25px] md:w-5/12 w-full border border-white;
}

.bzg_c[data-col=m4] {
    @apply min-h-[1px] pl-[25px] md:w-1/3 w-full border border-white;
}

.bzg_c[data-col*=m3] {
    @apply min-h-[1px] pl-[25px] md:w-1/4 w-full border border-white;
}

.bzg_c[data-col=m2] {
    @apply min-h-[1px] pl-[25px] md:w-1/6 w-full border border-white;
}

.bzg_c[data-col=m1] {
    @apply min-h-[1px] pl-[25px] md:w-1/12 w-full border border-white;
}

.bzg_c[data-col=l6] {
    @apply min-h-[1px] pl-[25px] lg:w-1/2 w-full border border-white;
}

.bzg--no-gutter {
    @apply ml-0;
}
.bzg--no-gutter>.bzg_c {
    @apply pl-0;
}

// offset

.bzg_c[data-offset=m5] {
    @apply md:ml-[41.66667%];
}

.bzg_c[data-offset=m3] {
    @apply md:ml-[25%];
}
</style>
