<template>
    <div>
        <div class="popup fixed top-32 md:left-32 md:right-32 left-10 right-10 p-10 bg-custom-blue z-50">
            <div class="relative">
                <h2 class="text-3xl font-bold text-[#333333] pb-5 border-b-[2px] border-b-[#333333]">{{ props.title }}</h2>
                <button class="absolute top-0 right-0 transition duration-100 hover:scale-150" @click="() => { props.closePopup() }">
                    <nuxt-icon name="icon-close" filled class="text-2xl"/>
                </button>
            </div>
            <p class="mt-5">{{ props.body }}</p>
        </div>
        <div class="cursor-pointer backdrop fixed top-0 bottom-0 left-0 right-0 z-40 bg-[rgba(0,0,0,.4)]"  @click="() => { props.closePopup() }" />
    </div>
</template>

<script setup>
const props = defineProps({
    title: {
        type: String,
        default: ''
    },
    body: {
        type: String,
        default: ''
    },
    closePopup: {
        type: Function,
        default: () => {}
    }
})
</script>
