<template>
    <main id="main" role="main" class="container">
        <article id="alert">
            <h1 class="text-4xl font-bold font-mono text-primary mb-5">Media Object</h1>
            <section id="flex-card" class="border-b pb-5">
                <figure class="flex items-start">
                    <div class="mr-[0.8em]">
                        <nuxt-img src="/assets/img/site-logo.png" alt="Logo" class="max-w-full" width="75" loading="lazy" quality="80" />
                    </div>
                    <p class="flex-1 min-w-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iste natus ipsam minus ad aliquid earum ratione dolore quasi modi velit reiciendis in possimus, nemo, ipsa quaerat? Ipsum, odit eaque?</p>
                </figure>
                <highlightjs lang="markdown" class="w-full overflow-auto mt-5 text-sm" :code="mediaObjectCode" />
            </section>
            <section id="flex-card" class="mt-5 pb-5">
                <h2 class="text-4xl font-bold font-mono text-primary mb-5">With Title, Button, And Link</h2>
                <figure class="flex items-start">
                    <div class="mr-[0.8em]">
                        <nuxt-img src="/assets/img/site-logo.png" alt="Logo" class="max-w-full" width="150" loading="lazy" quality="80" />
                    </div>
                    <div class="flex-1 min-w-0">
                        <h4 class="text-[1.44em] text-custom-blue font-bold">Title</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iste natus ipsam minus ad aliquid earum ratione dolore quasi modi velit reiciendis in possimus, nemo, ipsa quaerat? Ipsum, odit eaque?</p>
                        <div class="flex items-center gap-5 my-3">
                            <button class="btn btn-primary">
                                <nuxt-icon name="icon-plus" class="text-lg text-white" filled/>
                            </button>
                            <NuxtLink to="#" class="text-custom-blue">Visit somewhere...</NuxtLink>
                        </div>
                    </div>
                </figure>
                <highlightjs lang="markdown" class="w-full overflow-auto mt-5 text-sm" :code="withTitleCode" />
            </section>
        </article>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/media-object',
    en: '/media-object'
})

const mediaObjectCode = `<figure class="media">
    <div class="media-figure">
        <img src="..." alt="">
    </div>
    <div class="media-content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam incidunt tempora ratione sapiente,
        nesciunt consectetur officiis commodi soluta. Sit sapiente veritatis non quia vitae, facilis nam rerum, reprehenderit modi. Fugiat?
    </div>
</figure>`

const withTitleCode = `<figure class="media">
    <div class="media-figure">
        <img src="..." alt="" width="150px">
    </div>
    <div class="media-content">
        <h4 class="media-title text-primary">Title</h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p class="mb-0">
            <button class="btn--primary btn--small btn--icon mr-8"><i class="fas fa-thumbs-up"></i></button>
            <a href="#">Visit somewhere...</a>
        </p>
    </div>
</figure>`
</script>
