<template>
    <main id="main" role="main" class="container">
        <article>
            <section id="ordered-list" class="border-b pb-5">
                <h1 class="text-4xl font-bold font-mono text-primary">Lists</h1>
                <div class="mt-5 pl-5">
                    <p class="font-bold text-xl mb-5">Ordered List</p>
                    <ol class="pl-10">
                        <li class="list-decimal">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </span>
                        </li>
                        <li class="list-decimal">
                            <span>
                                Incidunt magni consequatur adipisci officiis vero placeat consectetur
                            </span>
                        </li>
                        <li class="list-decimal">
                            <span>
                                id facere
                            </span>
                            <ol class="pl-5">
                                <li class="list-decimal">
                                    <span>Molestiae in,</span>
                                </li>
                                <li class="list-decimal">
                                    <span>ducimus necessitatibus hic ad esse consequuntur</span>
                                </li>
                            </ol>
                        </li>
                        <li class="list-decimal mb-5">
                            <span>
                                dignissimos sequi illum doloremque.
                            </span>
                        </li>
                    </ol>
                    <highlightjs
lang="markdown" class="text-sm" code='<ol>
<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
<li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
<li>id facere,
    <ol type="a">
        <li>molestiae in,</li>
        <li>ducimus necessitatibus hic ad esse consequuntur</li>
    </ol>
</li>
<li>dignissimos sequi illum doloremque.</li>
</ol>' />
                </div>
            </section>
            <section id="unordered-list" class="border-b pb-5">
                <div class="mt-5 pl-5">
                    <p class="font-bold text-xl mb-5">Unordered List</p>
                    <ul class="pl-10">
                        <li class="list-disc">
                            <span>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                            </span>
                        </li>
                        <li class="list-disc">
                            <span>
                                Incidunt magni consequatur adipisci officiis vero placeat consectetur
                            </span>
                        </li>
                        <li class="list-disc">
                            <span>
                                id facere
                            </span>
                            <ol class="pl-5">
                                <li class="list-disc">
                                    <span>Molestiae in,</span>
                                </li>
                                <li class="list-disc">
                                    <span>ducimus necessitatibus hic ad esse consequuntur</span>
                                </li>
                            </ol>
                        </li>
                        <li class="list-disc mb-5">
                            <span>
                                dignissimos sequi illum doloremque.
                            </span>
                        </li>
                    </ul>
                    <highlightjs
lang="markdown" class="text-sm" code='<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
    <li>id facere,
        <ul>
            <li>molestiae in,</li>
            <li>ducimus necessitatibus hic ad esse consequuntur</li>
        </ul>
    </li>
    <li>dignissimos sequi illum doloremque.</li>
</ul>' />
                </div>
            </section>
            <section id="inline-list" class="border-b pb-5 mt-5">
                <div class="mt-5 pl-5">
                    <p class="font-bold text-xl mb-5">Inline List</p>
                    <div class="mt-5 pl-10">
                        <ol class="flex items-center gap-2">
                            <li>Lorem ></li>
                            <li>Ipsum ></li>
                            <li>Dolor</li>
                        </ol>
                    </div>
                    <highlightjs
                    lang="markdown" class="text-sm mt-3" code='<ol class="list-inline">
    <li>Lorem > </li>
    <li>Ipsum > </li>
    <li>Dolor</li>
</ol>' />
                </div>
                </section>
                <section id="nostyle-list" class="pb-5">
                    <div class="mt-5 pl-5">
                        <p class="font-bold text-xl mb-5">No Style List</p>
                        <ul>
                            <li class="list-none">
                                <span>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                </span>
                            </li>
                        <li class="list-none">
                            <span>
                                Incidunt magni consequatur adipisci officiis vero placeat consectetur
                            </span>
                        </li>
                        <li class="list-none">
                            <span>
                                id facere
                            </span>
                            <ol class="pl-10">
                                <li class="list-disc">
                                    <span>Molestiae in,</span>
                                </li>
                                <li class="list-disc">
                                    <span>ducimus necessitatibus hic ad esse consequuntur</span>
                                </li>
                            </ol>
                        </li>
                        <li class="list-none mb-5">
                            <span>
                                dignissimos sequi illum doloremque.
                            </span>
                        </li>
                    </ul>
                    <highlightjs
lang="markdown" class="text-sm" code='<ul class="list-nostyle">
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
    <li>Incidunt magni consequatur adipisci officiis vero placeat consectetur</li>
    <li>id facere,
        <ul>
            <li>molestiae in,</li>
            <li>ducimus necessitatibus hic ad esse consequuntur</li>
        </ul>
    </li>
    <li>dignissimos sequi illum doloremque.</li>
</ul>' />
                </div>
            </section>
        </article>
    </main>
</template>

<script setup>
defineI18nRoute({
    paths: {
        id: '/list',
        en: '/list'
    }
})
</script>
