<template>
    <main id="main" role="main" class="container">
        <article id="poke-api">
            <h1 class="text-4xl font-bold font-mono text-primary">Api</h1>
            <section id="pokemon">
                <h2 class="text-5xl font-bold text-[#fcc12d] mt-5 font-mono">PoKeMoN</h2>
                <form action="/" class="w-full my-5">
                    <input v-model="pokemonName" type="text" placeholder="Search" class="font-mono w-full border border-black py-1 text-[#333] text-base" name="search" />
                </form>
                <div class="grid grid-cols-auto-fit gap-3">
                    <div v-if="isloading">loading...</div>
                    <div v-for="pokemon in pokemonDatas" v-else :key="pokemon.id" class="card-light-grey">
                        <div class="text-center">
                            <nuxt-img class="mx-auto" :src="pokemon.sprites.front_default" width="100" height="100" fit="contain" loading="lazy" :alt="pokemon?.name" />
                        </div>
                        <div class="card-body">
                            <h5 class="text-cap font-bold">{{ pokemon?.name }}</h5>
                        </div>
                        <div class="card-footer bg-black-0.2">
                            <span class="block mb-[8px]">
                                Type:
                            </span>
                            <span v-for="pokeType in pokemon.types" :key="pokeType.slot" class="poke-type">
                                {{ pokeType.type?.name }}
                            </span>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>
</template>

<script setup>
import useFetchPokemon from "../../composables/useFetchPokemon"
const pokemonDatas = ref([])
const pokemonName = ref('')

defineI18nRoute({
    id: '/api',
    en: '/api'
})

// server side
const { data } = await useFetchPokemon({})

const isloading = ref(true)

const getPokemon = async (datas) => {
    await datas.value.results.forEach(async (poke) => {
        const pokemon = await $fetch(poke.url)

        pokemonDatas.value.push(pokemon)
    })
}

getPokemon(data)
.finally(() => { 
    setTimeout(() => {
        isloading.value = false 
    }, 2000);
})

</script>

<style lang="scss" scoped>
    .card-light-grey {
        @apply flex flex-col flex-1 border border-[#ccc] bg-[#ededed] text-black;
    }
    
    .card-body {
        @apply py-[8px] px-[16px] flex-grow;
    }
    
    .card-footer {
        @apply py-[8px] px-[16px] border-t border-[#ccc];
        
        .poke-type {
            @apply py-[2px] px-[6px] border border-black;
        }
        
        .poke-type:not(:last-child) {
            @apply mr-[6px];
        }
    }
</style>
