<template>
    <main id="main" role="main" class="container">
        <section id="form" class="border-b pb-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Tabs</h1>
            <ul class="tabs__bar js-tabs flex items-center my-5">
                <li class="tabs__nav js-tabs-link p-3 cursor-pointer hover:bg-gray-100" :class="{ 'border-b-4 border-b-primary text-primary': checkActiveTab('tab1') }" data-control="#item1" @click="tab = 'tab1'">TAB 1</li>
                <li class="tabs__nav js-tabs-link p-3 cursor-pointer hover:bg-gray-100" :class="{ 'border-b-4 border-b-primary text-primary': checkActiveTab('tab2') }" data-control="#item2" @click="tab = 'tab2'">TAB 2</li>
                <li class="tabs__nav js-tabs-link p-3 cursor-pointer hover:bg-gray-100" :class="{ 'border-b-4 border-b-primary text-primary': checkActiveTab('tab3') }" data-control="#item3" @click="tab = 'tab3'">TAB 3</li>
                <li class="tabs__nav js-tabs-link p-3 cursor-pointer hover:bg-gray-100" :class="{ 'border-b-4 border-b-primary text-primary': checkActiveTab('tab4') }" data-control="#item4" @click="tab = 'tab4'">TAB 4</li>
            </ul>
            <div class="tabs__content">
                {{ tab }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur necessitatibus velit nostrum.
            </div>
            <highlightjs class="my-5 text-sm" lang="markdown" :code="tabsCode"/>
        </section>
        <section id="form" class="pb-5">
            <ul class="tabs__bar js-tabs flex items-center justify-between my-5 overflow-x-auto">
                <li class="w-1/4 text-center min-w-[100px] tabs__nav js-tabs-link p-3 cursor-pointer hover:bg-gray-100" :class="{ 'border-b-4 border-b-primary text-primary': checkActiveTab('tab1') }" data-control="#item1" @click="tab = 'tab1'">TAB 1</li>
                <li class="w-1/4 text-center min-w-[100px] tabs__nav js-tabs-link p-3 cursor-pointer hover:bg-gray-100" :class="{ 'border-b-4 border-b-primary text-primary': checkActiveTab('tab2') }" data-control="#item2" @click="tab = 'tab2'">TAB 2</li>
                <li class="w-1/4 text-center min-w-[100px] tabs__nav js-tabs-link p-3 cursor-pointer hover:bg-gray-100" :class="{ 'border-b-4 border-b-primary text-primary': checkActiveTab('tab3') }" data-control="#item3" @click="tab = 'tab3'">TAB 3</li>
                <li class="w-1/4 text-center min-w-[100px] tabs__nav js-tabs-link p-3 cursor-pointer hover:bg-gray-100" :class="{ 'border-b-4 border-b-primary text-primary': checkActiveTab('tab4') }" data-control="#item4" @click="tab = 'tab4'">TAB 4</li>
            </ul>
            <div class="tabs__content">
                {{ tab }} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem commodi quaerat eos, ipsum illo quos quibusdam consequuntur necessitatibus velit nostrum.
            </div>
            <highlightjs class="mt-5 text-sm" lang="markdown" :code="justifyTabCode"/>
        </section>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/tabs',
    en: '/tabs'
})

const tab = ref('tab1')

const checkActiveTab = (tabStr) => tab.value === tabStr 

const tabsCode = `<ul class="tabs__bar js-tabs">
    <li class="tabs__nav js-tabs-link is-active" data-control="#item1">TAB 1</li>
    <li class="tabs__nav js-tabs-link" data-control="#item2">TAB 2</li>
    <li class="tabs__nav js-tabs-link" data-control="#item3">TAB 3</li>
    <li class="tabs__nav js-tabs-link" data-control="#item4">TAB 4</li>
</ul>
<div class="tabs__content">
    <div class="tabs__item js-tabs-item is-active" id="item1">
        Item 1
    </div>
    <div class="tabs__item js-tabs-item" id="item2">
        Item 2
    </div>
    <div class="tabs__item js-tabs-item" id="item3">
        Item 3
    </div>
    <div class="tabs__item js-tabs-item" id="item4">
        Item 4
    </div>
</div>`

const justifyTabCode = `<ul class="tabs__bar--justify js-tabs">
    <li class="tabs__nav js-tabs-link is-active" data-control="#justified1">TAB 1</li>
    <li class="tabs__nav js-tabs-link" data-control="#justified2">TAB 2</li>
    <li class="tabs__nav js-tabs-link" data-control="#justified3">TAB 3</li>
    <li class="tabs__nav js-tabs-link" data-control="#justified4">TAB 4</li>
</ul>
<div class="tabs__content">
    <div class="tabs__item js-tabs-item is-active" id="justified1">
        Item 1
    </div>
    <div class="tabs__item js-tabs-item" id="justified2">
        Item 2
    </div>
    <div class="tabs__item js-tabs-item" id="justified3">
        Item 3
    </div>
    <div class="tabs__item js-tabs-item" id="justified4">
        Item 4
    </div>
</div>`
</script>
