<template>
  <main id="main" role="main" class="container">
    <article id="headings">
      <section class="pb-5 border-b">
        <h1 class="font-bold font-mono text-primary mb-3">Heading</h1>
        <div class="flex flex-col gap-3">
          <h1 class="capitalize font-bold">heading</h1>
          <h2 class="capitalize font-bold">heading</h2>
          <h3 class="capitalize font-bold">heading</h3>
          <h4 class="capitalize font-bold">heading</h4>
          <h5 class="capitalize font-bold">heading</h5>
          <h6 class="capitalize font-bold">heading</h6>
        </div>
        <div class="mt-5" role="group">
          <highlightjs language="xml" code="<h1>Heading 1</h1>" />
          <highlightjs language="xml" code="<h2>Heading 2</h2>" />
          <highlightjs language="xml" code="<h3>Heading 3</h3>" />
          <highlightjs language="xml" code="<h4>Heading 4</h4>" />
          <highlightjs language="xml" code="<h5>Heading 5</h5>" />
          <highlightjs language="xml" code="<h6>Heading 6</h6>" />
        </div>
      </section>
      <section>
        <h1 class="font-bold font-mono text-primary mb-3">Heading Style</h1>
        <div class="flex flex-col gap-3">
          <h1 class="capitalize font-bold">text size adjust h1</h1>
          <h2 class="capitalize font-bold">text size adjust h2</h2>
          <h3 class="capitalize font-bold">text size adjust h3</h3>
          <h4 class="capitalize font-bold">text size adjust h4</h4>
          <h5 class="capitalize font-bold">text size adjust h5</h5>
          <h6 class="capitalize font-bold">text size adjust h6</h6>
        </div>
        <div class="mt-5" role="group">
          <highlightjs language="xml" code="<h1>Text size adjust h1</h1>" />
          <highlightjs language="xml" code="<h2>Text size adjust h2</h2>" />
          <highlightjs language="xml" code="<h3>Text size adjust h3</h3>" />
          <highlightjs language="xml" code="<h4>Text size adjust h4</h4>" />
          <highlightjs language="xml" code="<h5>Text size adjust h5</h5>" />
          <highlightjs language="xml" code="<h6>Text size adjust h6</h6>" />
        </div>
      </section>
    </article>
  </main>
</template>

<script setup lang="ts">
defineI18nRoute({
  paths: {
    id: '/headings',
    en: '/headings'
  }
})
</script>

<style lang="scss" scoped>
h1 {
  @apply text-[2.48832em];
}

h2 {
  @apply text-[2.0736em];
}

h3 {
  @apply text-[1.728em];
}

h4 {
  @apply text-[1.44em];
}

h5 {
  @apply text-[1.2em];
}

h6 {
  @apply text-[1em];
}
</style>
