<template>
  <div class="my-10">
    <br />
    <Swiper
      :modules="[SwiperNavigation]"
      :slides-per-view="`auto`"
      :centered-slides="true"
      :space-between="40"
      @swiper="onSwiper"
    >
      <!-- CUSTOM NAVIGATION -->
      <div class="flex justify-around absolute top-1/2 w-full z-10">
        <button :disabled="isBeginning" @click.stop="slider.slidePrev()">
          <nuxt-icon name="icon-park_arrow-left" filled />
        </button>
        <button :disabled="isLast" @click.stop="slider.slideNext()">
          <nuxt-icon name="icon-park_arrow-right" filled />
        </button>
      </div>
      <SwiperSlide
        v-for="(slide, index) in data"
        :key="index"
        class="py-8 px-[10px] !w-1/3 my-auto carousel-opacity"
      >
        <div class="">
          <img :src="slide.photo" alt="Swiper Photo" class="mx-auto" />
        </div>
      </SwiperSlide>
    </Swiper>
  </div>
</template>

<script setup>
let data = ref([])

const slider = ref(null)

const onSwiper = swiper => {
  slider.value = swiper
}

const isBeginning = computed(() => {
  return slider?.value?.isBeginning
})
const isLast = computed(() => {
  return slider?.value?.isEnd
})

data = [
  {
    year: 2017,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      }
    ]
  },
  {
    year: 2018,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      },
      {
        month: 'Des',
        title: 'Achieved annual revenue growth'
      }
    ]
  },
  {
    year: 2019,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      },
      {
        month: 'Des',
        title: 'Achieved annual revenue growth'
      }
    ]
  },
  {
    year: 2020,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      }
    ]
  },
  {
    year: 2021,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      },
      {
        month: 'Des',
        title: 'Achieved annual revenue growth'
      }
    ]
  },
  {
    year: 2022,
    photo: '/assets/img/woman-selecting-pictures-people 1.png',
    desc: [
      {
        month: 'Jan',
        title: 'Powered by 213 team members (95% SM Technology)'
      },
      {
        month: 'Feb',
        title: 'Initiated Malang Office for SM Technology'
      }
    ]
  }
]
</script>

<style scoped>
:deep(.swiper) {
  border-top: 1px solid #bbbbbb;
  button:disabled,
  button[disabled] {
    opacity: 0.4;
  }
}
:deep(.swiper-wrapper) {
  height: 50vh;
}
:deep(.swiper-slide) {
  min-height: 200px;
  height: auto;
  opacity: 0.5;
  margin-top: auto;
  margin-bottom: auto;
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
}

:deep(.swiper-slide-active) {
  opacity: 1;
}

.timeline {
  position: relative;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #bbbbbb;
  top: 0;
  bottom: 0;
  left: 78px;
}

.year {
  position: relative;
}
.year::after {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  left: 57px;
  background-color: #ff6700;
  border: 6px solid #fee0cc;
  border-radius: 50%;
  z-index: 1;
}

:deep(.nuxt-icon) svg {
  width: 2em;
  height: 2em;
}
</style>
