<template>
    <main id="main" role="main" class="container">
      <article id="environment">
        <h1 class="text-4xl font-bold font-mono text-primary">Environment</h1>
        <div class="mt-5">
          <ul class="pl-10">
            <li class="list-disc mb-5">
              <span>
                <strong>Node js</strong>
                versi 8 ke atas. Node harus di <i>install</i> sebelum meng <i>install</i> lainnya
              </span>
              <p class="mt-5">
                <a href="https://nodejs.org" target="_blank" rel="noreferrer" class="link">
                  Install
                </a>
                |
                <a href="https://nodejs.org/en/docs" target="_blank" rel="noreferrer" class="link">
                  Dokumentasi
                </a>
              </p>
            </li>
            <li class="list-disc">
              <span>
                <strong>Yeoman.</strong>
                Jalankan perintah dibawah di <i>command prompt</i>
              </span>
              <code class="code-block">
                npm i -g yo
              </code>
            </li>
            <li class="list-disc">
              <span>
                <strong>Gulp.</strong>
                Jalankan perintah dibawah di <i>command prompt</i>
              </span>
              <code class="code-block">
                npm i -g gulp-cli
              </code>
            </li>
            <li class="list-disc mb-5">
              <span>
                <strong>Git</strong>
              </span>
              <p class="mt-5">
                <a href="https://git-scm.com" target="_blank" rel="noreferrer" class="link">
                  Install
                </a>
                |
                <a href="https://bazenuxt.netlify.app/getstarted/#" target="_blank" rel="noreferrer" class="link">
                  Pro Git (PDF)
                </a>
              </p>
            </li>
            <li class="list-disc mb-5">
              <span>
                <strong>Xampp</strong>
              </span>
              <p class="mt-5">
                <a href="https://www.apachefriends.org/" target="_blank" rel="noreferrer" class="link">
                  Install
                </a>
              </p>
            </li>
            <li class="list-disc">
              <span>
                <strong>Generator Baze.</strong>
              </span>
              <div role="definition" class="mt-2">
                Install generator baze <a href="https://www.npmjs.com/package/generator-baze" target="_blank" class="link">(versi lama)</a> atau <a href="https://www.npmjs.com/package/generator-baze" target="_blank" class="link">generator baze nuxt</a> (versi baru) dengan menjalankan perintah dibawah ini.
              </div>
              <code class="code-block">
                npm install generator-baze -g
              </code>
              <code class="code-block">
                npm install generator-baze-nuxt -g
              </code>
              <p>Untuk install kedalam project frontend, jalankan</p>
              <code class="code-block">
                yo baze
              </code>
              <code class="code-block">
                yo baze-nuxt
              </code>
            </li>
          </ul>
        </div>
      </article>
    </main>
  </template>
  
  <script setup>
  import { useThemeStore } from '~/store/global'
  
  const theme = useThemeStore()
  
  useHead({
    title: 'Suit Baze Nuxt 3'
  })

  defineI18nRoute({
    paths: {
        id: '/getstarted',
        en: '/getstarted'
        }
    })
  
  const expires = new Date()
  expires.setTime(expires.getTime() + 1000 * 60 * 60 * 24) // 1 Day
  
  theme.darkTheme = useCookie('theme', {
    default: () => false,
    expires
  })
  /**
   * JSONLD
   */
  useJsonld({
    '@type': 'LocalBusiness',
    name: 'Suitmedia',
    url: 'suitmedia.com',
    email: 'contact(at)suitmedia.com',
    telephone: '+62 21 719 6877',
    legalName: 'PT Suitmedia Kreasi Indonesia',
    location: 'Jakarta, Bandung, Yogyakarta, Singapore',
    description: 'Digital Agency Indonesia',
    address: {
      '@type': 'PostalAddress',
      addressLocality: 'Jakarta, Indonesia',
      postalCode: '12510',
      streetAddress: 'Jl. Pejaten Barat II No. 3A'
    }
  })
  
  /*
  JSONLD
  */
  </script>
  
  <style lang="scss" scoped>
  .link {
    @apply text-blue-400 hover:underline;
  }
  .code-block {
    @apply block overflow-x-auto bg-[#efecf4] text-[#585260] p-[0.5em] my-[20px] rounded-lg;
  }
  </style>
  