@layer components {
    .alert {
      @apply block py-[9px] px-[24px] border border-black leading-[1.6];
  
      &.alert-default {
        @apply bg-custom-light-grey;
      }
  
      &.alert-blue {
        @apply bg-[#c8daf0] text-[#4f8ad0] border-[#4f8ad0];
      }
  
      &.alert-grey {
        @apply bg-[#cfcfcf] text-custom-grey border-custom-grey;
      }
  
      &.alert-yellow {
        @apply bg-[#feeec4] text-custom-yellow border-custom-yellow;
      }
  
      &.alert-red {
        @apply bg-[#ff7070] text-custom-red border-custom-red;
      }
  
      &.alert-black {
        @apply bg-[#4d4d4d] text-black border-black;
      }
  
      &.alert-light-grey {
        @apply bg-[#e7e7e7] text-[#c7c7c7] border-[#c7c7c7];
      }
    }
  }
  