@layer components {
  .btn {
    @apply px-3 py-2;
    @apply disabled:cursor-not-allowed;

    // colors

    // primary
    &.btn-primary {
      @apply bg-custom-blue text-white hover:brightness-110;
    }
    &.btn-ghost-primary {
      @apply bg-white text-custom-blue border border-custom-blue;
      @apply hover:bg-custom-blue hover:text-white;
    }
    &.btn-flat-primary {
      @apply bg-white text-custom-blue;
      @apply hover:bg-custom-blue hover:text-white;
    }

    // secondary
    &.btn-secondary {
      @apply bg-custom-dark-grey text-white hover:brightness-110;
    }
    &.btn-ghost-secondary {
      @apply bg-white text-custom-dark-grey border border-custom-dark-grey;
      @apply hover:bg-custom-dark-grey hover:text-white;
    }
    &.btn-flat-secondary {
      @apply bg-white text-custom-dark-grey;
      @apply hover:bg-custom-dark-grey hover:text-white;
    }

    // warning
    &.btn-warning {
      @apply bg-custom-yellow text-white hover:brightness-110;
    }
    &.btn-ghost-warning {
      @apply bg-white text-custom-yellow border border-custom-yellow;
      @apply hover:bg-custom-yellow hover:text-white;
    }
    &.btn-flat-warning {
      @apply bg-white text-custom-yellow;
      @apply hover:bg-custom-yellow hover:text-white;
    }

    // danger
    &.btn-danger {
      @apply bg-custom-red text-white hover:brightness-110;
    }
    &.btn-ghost-danger {
      @apply bg-white text-custom-red border border-custom-red;
      @apply hover:bg-custom-red hover:text-white;
    }
    &.btn-flat-danger {
      @apply bg-white text-custom-red;
      @apply hover:bg-custom-red hover:text-white;
    }

    // black
    &.btn-black {
      @apply bg-black text-white hover:brightness-110;
    }
    &.btn-ghost-black {
      @apply bg-white text-black border border-black;
      @apply hover:bg-black hover:text-white;
    }
    &.btn-flat-black {
      @apply bg-white text-black;
      @apply hover:bg-black hover:text-white;
    }

    // light-grey
    &.btn-grey {
      @apply bg-custom-grey text-white hover:brightness-110;
    }
    &.btn-ghost-grey {
      @apply bg-white text-custom-grey border border-custom-grey;
      @apply hover:bg-custom-grey hover:text-white;
    }
    &.btn-flat-grey {
      @apply bg-white text-custom-grey;
      @apply hover:bg-custom-grey hover:text-white;
    }

    // white
    &.btn-light-grey {
      @apply bg-custom-light-grey text-[#333] hover:brightness-90;
    }
    &.btn-ghost-light-grey {
      @apply bg-white text-[#bababa] border border-[#bababa];
      @apply hover:bg-[#c8c8c8] hover:border-[#c8c8c8] hover:text-white;
    }
    &.btn-flat-light-grey {
      @apply bg-white text-[#c8c8c8];
      @apply hover:bg-[#c8c8c8] hover:text-white;
    }

    // button size
    &.btn-small {
      @apply py-[3px] px-[8px];
    }

    &.btn-large {
      @apply py-[15px] px-[40px];
    }
  }
}
