@layer components {
    .card {
        @apply flex flex-col flex-1 border;

        &.card-blue {
            @apply border-[#ccc] bg-custom-blue text-white;

            .card-header {
                @apply border-[#ccc] bg-[rgba(0,0,0,0.3)]
            }

            .card-footer {
                @apply border-[#ccc] bg-[rgba(0,0,0,0.3)]
            }
        }

        &.card-dark-grey {
            @apply border-[#ccc] bg-custom-dark-grey text-white;

            .card-header {
                @apply border-[#ccc] bg-[rgba(0,0,0,0.3)]
            }

            .card-footer {
                @apply border-[#ccc] bg-[rgba(0,0,0,0.3)]
            }
        }

        &.card-grey {
            @apply border-[#ccc] bg-custom-grey text-white;

            .card-header {
                @apply border-[#ccc] bg-[rgba(0,0,0,0.3)]
            }

            .card-footer {
                @apply border-[#ccc] bg-[rgba(0,0,0,0.3)]
            }
        }

        &.card-light-grey {
            @apply border-[#ccc] bg-custom-light-grey text-black;

            .card-header {
                @apply border-[#ccc] bg-[rgba(0,0,0,0.3)]
            }

            .card-footer {
                @apply border-[#ccc] bg-[rgba(0,0,0,0.3)]
            }
        }
    }

    .card > .card-header {
        @apply py-[8px] px-[16px] border-b;
    }

    .card > .card-image {
        @apply w-full max-w-[175px];
    }

    .card > .card-body {
        @apply py-[8px] px-[16px] flex-grow;
    }

    .card > .card-footer {
        @apply py-[8px] px-[16px];
    }
}
