<template>
    <main id="main" role="main" class="container">
        <article id="alert">
            <section id="alert" class="border-b pb-5">
                <h1 class="text-4xl font-bold font-mono text-primary mb-5">Alert</h1>
                <div class="flex flex-col gap-3">
                    <div class="alert alert-default">Alert default</div>
                    <div class="alert alert-blue">Alert blue</div>
                    <div class="alert alert-grey">Alert grey</div>
                    <div class="alert alert-yellow">Alert yellow</div>
                    <div class="alert alert-red">Alert red</div>
                    <div class="alert alert-black">Alert black</div>
                    <div class="alert alert-light-grey">Alert light grey</div>
                    <highlightjs class="text-sm" lang="markdown" :code="alertCode"/>
                </div>
            </section>
            <section id="alert-box" class="pb-5">
                <h1 class="text-4xl font-bold font-mono text-primary mb-5">Alert Box</h1>
                <div class="flex flex-wrap items-center gap-3 mb-5">
                    <button class="btn btn-primary" @click="() => { openPopup(1) }">Alert 1</button>
                    <button class="btn btn-primary" @click="() => { openPopup(2) }">Alert 2</button>
                    <Popup 
                        v-if="isOpenPopup.id === 1 && isOpenPopup.isOpen" 
                        :close-popup="closePopup"
                        title="POPUP" 
                        body="ini popup 1 body buat naro pesannya"/>
                    <Popup 
                        v-if="isOpenPopup.id === 2 && isOpenPopup.isOpen" 
                        :close-popup="closePopup"
                        title="POPUP" 
                        body="ini popup 2 body buat naro pesannya"/>
                </div>
                <highlightjs class="text-sm" lang="markdown" :code="alertBox"/>
            </section>
        </article>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/alert',
    en: '/alert'
})

const isOpenPopup = ref({
    id: 1,
    isOpen: false
})

const openPopup = (id) => {
    isOpenPopup.value = {
        id,
        isOpen: true
    }
}

const closePopup = (id) => {
    isOpenPopup.value = {
        id,
        isOpen: false
    }
}

const alertCode = `<div class="alert">Alert default</div>
<div class="alert--primary">Alert primary</div>
<div class="alert--secondary">Alert secondary</div>
<div class="alert--warning">Alert warning</div>
<div class="alert--danger">Alert danger</div>
<div class="alert--black">Alert black</div>
<div class="alert--light-grey">Alert light-grey</div>
<div class="alert--white">Alert white</div>`

const alertBox = `<button class="btn--primary js-trigger-alert" data-alert="#alert1">Alert 1</button>
<button class="btn--primary js-trigger-alert" data-alert="#alert2">Alert 2</button>

<div class="alert--popup" id="alert1">
    <div class="alert--primary alert--popup-content" >
        <span class="alert--close js-alert-close"><i class="fas fa-times"></i></span> <h4>Lorem Ipsum!</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <hr>
        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam qui obcaecati tempora.
        Quod, nesciunt culpa sunt sit itaque voluptate molestiae in quia quos quam tempora sequi illo molestias? Rerum, sit?</p>
    </div>
</div>

<div class="alert--popup" id="alert2">
    <div class="alert--danger alert--popup-content" >
        <span class="alert--close js-alert-close"><i class="fas fa-times"></i></span> <h4>Number 2</h4>
        <p>Test Number 2</p>
    </div>
</div>`
</script>
