<template>
    <main id="main" role="main" class="container">
        <section id="form" class="border-b pb-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Form</h1>
            <form class="flex flex-col gap-3">
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="text-input" class="w-2/5 md:text-right">Text Input</label>
                    <div class="w-3/5">
                        <input type="text" class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400" placeholder="Text" />
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="full-width-input" class="w-2/5 md:text-right">Full Width Input</label>
                    <div class="w-3/5">
                        <input type="text" class="w-full p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400" placeholder="Full Width Input" />
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="password-input" class="w-2/5 md:text-right">Password Input</label>
                    <div class="w-3/5">
                        <input type="password" class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400" placeholder="Password" />
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="email-input" class="w-2/5 md:text-right">Email Address</label>
                    <div class="w-3/5">
                        <input type="email" class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400" placeholder="Email" />
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="number-input" class="w-2/5 md:text-right">Number Input</label>
                    <div class="w-3/5">
                        <input type="number" class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400" placeholder="Number" />
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="single-file-input" class="w-2/5 md:text-right">Single File Input (Full width)</label>
                    <div class="w-3/5 flex items-center">
                        <input class="w-full p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400" disabled />
                        <button class="ml-2 btn btn-primary" placeholder="Number" >Browse</button>
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="multiple-file-input" class="w-2/5 md:text-right">Multiple File Input (Full width)</label>
                    <div class="w-3/5 flex items-center">
                        <input class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400" disabled />
                        <button class="ml-2 btn btn-primary" placeholder="Number" >Browse</button>
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center items-start justify-center gap-3">
                    <label for="textarea-input" class="w-2/5 md:text-right">Textarea Input</label>
                    <div class="w-3/5">
                        <textarea class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400" placeholder="text area" />
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="disabled-input" class="w-2/5 md:text-right">Disabled Input</label>
                    <div class="w-3/5">
                        <input class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400 disabled:cursor-not-allowed" placeholder="Disabled" disabled />
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="read-only-input" class="w-2/5 md:text-right">Read Only Input</label>
                    <div class="w-3/5">
                        <input class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400 disabled:cursor-not-allowed" placeholder="Read only" readonly />
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="dropdown-select" class="w-2/5 md:text-right">Dropdown select</label>
                    <div class="w-3/5">
                        <select class="p-2 focus:ring-1 ring-blue-600 outline-none rounded border border-gray-400 disabled:cursor-not-allowed" placeholder="Read only">
                            <option value="option-1">Option 1</option>
                            <option value="option-2">Option 2</option>
                            <option value="option-3">Option 3</option>
                        </select>
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="radio" class="w-2/5 md:text-right">Radio Buttons</label>
                    <div class="w-3/5 flex items-center">
                        <input id="option-1" type="radio" name="option" value="option-1"/>
                        <label for="option-1" class="ml-1 mr-3">Option 1</label>
                        <input id="option-2" type="radio" name="option" value="option-2"/>
                        <label for="option-2" class="ml-1 mr-3">Option 2</label>
                        <input id="option-3" type="radio" name="option" value="option-3"/>
                        <label for="option-3" class="ml-1 mr-3">Option 3</label>
                    </div>
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-start gap-3">
                    <label for="checkbox" class="w-2/5 md:text-right">Checkbox</label>
                    <div class="w-3/5 flex items-center">
                        <input id="option-1" type="checkbox" name="option" value="option-1"/>
                        <label for="option-1" class="ml-1 mr-3">Option 1</label>
                        <input id="option-2" type="checkbox" name="option" value="option-2"/>
                        <label for="option-2" class="ml-1 mr-3">Option 2</label>
                        <input id="option-3" type="checkbox" name="option" value="option-3"/>
                        <label for="option-3" class="ml-1 mr-3">Option 3</label>
                    </div>
                </div>
                <div class="flex items-center md:justify-center gap-3">
                    <button class="btn btn-primary" placeholder="Number" >Browse</button>
                    <button class="ml-2 btn btn-secondary" placeholder="Number" >Cancel</button>
                </div>
                </form>
                <highlightjs class="my-5 w-full text-sm" lang="markdown" :code="formCode"/>
        </section>
        <section id="form-validation" class="pb-5 mt-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Form Validation</h1>
            <form class="flex flex-col gap-3 mt-10">
                <div class="flex md:flex-row flex-col md:items-center justify-center gap-3">
                    <label for="username" class="w-2/5 md:text-right">Username</label>
                    <div class="w-3/5">
                        <input v-model="formData.username" type="text" class="p-2 outline-none rounded border border-gray-400" placeholder="Text" :class="{ 'border-red-600': v$.username.$error }" @blur="v$.username.$touch()" />
                    </div>
                </div>
                <div v-for="error in v$.username.$errors" :key="error.$uid" class="mx-auto text-red-500">
                {{ error.$message }}
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-center gap-3">
                    <label for="email-input" class="w-2/5 md:text-right">Email Address</label>
                    <div class="w-3/5">
                        <input v-model="formData.email" type="email" class="p-2 outline-none rounded border border-gray-400" placeholder="Email" @blur="v$.email.$touch()" />
                    </div>
                </div>
                <div v-for="error in v$.email.$errors" :key="error.$uid" class="mx-auto text-red-500">
                {{ error.$message }}
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-center gap-3">
                    <label for="birth-date" class="w-2/5 md:text-right">Birth Date</label>
                    <div class="w-3/5">
                        <input v-model="formData.birthDate" type="date" class="p-2 outline-none rounded border border-gray-400" placeholder="DD/MM/YYYY" @blur="v$.birthDate.$touch()" />
                    </div>
                </div>
                <div v-for="error in v$.birthDate.$errors" :key="error.$uid" class="mx-auto text-red-500">
                {{ error.$message }}
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-center gap-3">
                    <label for="gender" class="w-2/5 md:text-right">Gender</label>
                    <div class="w-3/5 flex items-center">
                        <input id="male" v-model="formData.gender" type="radio" name="gender" value="male" @blur="v$.gender.$touch()"/>
                        <label for="male" class="ml-1 mr-3">Male</label>
                        <input id="female" v-model="formData.gender" type="radio" name="gender" value="female" @blur="v$.gender.$touch()"/>
                        <label for="female" class="ml-1 mr-3">Female</label>
                    </div>
                </div>
                <div v-for="error in v$.gender.$errors" :key="error.$uid" class="mx-auto text-red-500">
                {{ error.$message }}
                </div>
                <div class="flex md:flex-row flex-col md:items-center justify-center gap-3">
                    <label for="hobby" class="w-2/5 md:text-right">Checkbox</label>
                    <div class="w-3/5">
                        <input id="reading" type="checkbox" name="hobby" value="reading" @blur="v$.hobby.$touch()"/>
                        <label for="reading" class="ml-1 mr-3">Reading</label><br/>
                        <input id="writing" type="checkbox" name="hobby" value="writing" @blur="v$.hobby.$touch()"/>
                        <label for="writing" class="ml-1 mr-3">Writing</label><br/>
                        <input id="running" type="checkbox" name="hobby" value="running" @blur="v$.hobby.$touch()"/>
                        <label for="running" class="ml-1 mr-3">Running</label><br/>
                        <input id="swimming" type="checkbox" name="hobby" value="swimming" @blur="v$.hobby.$touch()"/>
                        <label for="swimming" class="ml-1 mr-3">Swimming</label><br/>
                    </div>
                </div>
                <div v-for="error in v$.hobby.$errors" :key="error.$uid" class="mx-auto text-red-500">
                {{ error.$message }}
                </div>
                <div class="flex items-center md:justify-center gap-3">
                    <button type="submit" class="btn btn-primary" placeholder="Number" :disabled="v$.$invalid">Submit</button>
                </div>
                </form>
                <highlightjs class="my-5 w-full text-sm" lang="markdown" :code="formValidationCode"/>
        </section>
    </main>
</template>

<script setup>
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, maxLength } from '@vuelidate/validators'

defineI18nRoute({
    id: '/form',
    en: '/form'
})

const formData = ref({
    username: '',
    email: '',
    birthDate: '',
    gender: '',
    hobby: ''
})

const rules = {
    username: { required, minLength: minLength(4), maxLength: maxLength(10) },
    email: { required, email, minLength: minLength(4), maxLength: maxLength(20) },
    birthDate: { required },
    gender: { required },
    hobby: { required }
}

const v$ = useVuelidate(rules, formData)

const formCode = `<form action="">
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Text Input</div>
        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="text" name="text" placeholder="Text"></div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Full Width Input</div>
        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input form-input--block" type="text" name="fullwidth" placeholder="Full Width Input"></div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Password Input</div>
        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="password" name="password" placeholder="Password"></div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Email Address</div>
        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="email" name="email" placeholder="Email"></div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Number Input</div>
        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="number" name="number" placeholder="Number"></div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Single File Input (Full Width)</div>
        <div class="bzg_c" data-col="s12,m8,l8">
            <input class="form-input js-file-input" id="singleFile" type="file" name="file">
            <label class="flex form-file-label" for="singleFile">
                <div class="js-file-name form-file-input form-input--block"> </div>
                <div class="btn--primary ml-4">Browse</div>
            </label>
        </div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Multiple File Input</div>
        <div class="bzg_c" data-col="s12,m8,l8">
            <input class="form-input js-file-input" id="multipleFile" type="file" name="file" multiple>
            <label class="flex form-file-label" for="multipleFile">
                    <div class="js-file-name form-file-input"> </div>
                    <div class="btn--primary ml-4">Browse</div>
            </label>
        </div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Textarea Input</div>
        <div class="bzg_c" data-col="s12,m8,l8"><textarea class="form-input" name="textarea" placeholder="Text Area"></textarea></div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Disabled Input</div>
        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="text" name="disabled" placeholder="Disabled" disabled></div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Read-only Input</div>
        <div class="bzg_c" data-col="s12,m8,l8"><input class="form-input" type="text" name="readonly" placeholder="Read-only" readonly></div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Dropdown Select</div>
        <div class="bzg_c" data-col="s12,m8,l8">
            <select class="form-input" name="dropdown">
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
        </div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Radio Buttons</div>
        <div class="bzg_c" data-col="s12,m8,l8">
            <div class="form-check-group">
                <label class="form-check__item" for="rbOption1"><input id="rbOption1" type="radio" name="radio"> Option 1</label>
                <label class="form-check__item" for="rbOption2"><input id="rbOption2" type="radio" name="radio"> Option 2</label>
                <label class="form-check__item" for="rbOption3"><input id="rbOption3" type="radio" name="radio"> Option 3</label>
            </div>
        </div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c form-label" data-col="s12,m4,l4">Checkbox</div>
        <div class="bzg_c" data-col="s12,m8,l8">
            <div class="form-check-group">
                <label class="form-check__item" for="cbOption1"><input id="cbOption1" type="checkbox" name="checkbox" checked> Option 1</label>
                <label class="form-check__item" for="cbOption2"><input id="cbOption2" type="checkbox" name="checkbox"> Option 2</label>
                <label class="form-check__item" for="cbOption3"><input id="cbOption3" type="checkbox" name="checkbox" checked> Option 3</label>
            </div>
        </div>
    </div>
    <div class="bzg mb-12">
        <div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
            <button class="btn btn--primary" type="submit">Submit</button>
            <button class="btn btn--ghost-secondary" type="reset">Cancel</button>
        </div>
    </div>
</form>`

const formValidationCode = `
<form action="" class="js-validate">
<div class="bzg mb-12">
    <div class="bzg_c form-label" data-col="s12,m4,l4">Username</div>
    <div class="bzg_c" data-col="s12,m8,l8">
        <input class="form-input" type="text" name="username" placeholder="Username" required>
    </div>
</div>
<div class="bzg mb-12">
    <div class="bzg_c form-label" data-col="s12,m4,l4">Email</div>
    <div class="bzg_c" data-col="s12,m8,l8">
        <input class="form-input" type="email" name="email" placeholder="Email" required>
    </div>
</div>
<div class="bzg mb-12">
    <div class="bzg_c form-label" data-col="s12,m4,l4">Birthdate</div>
    <div class="bzg_c" data-col="s12,m8,l8">
        <input class="form-input datepicker-here js-date" type="text" name="birthdate" placeholder="Birthdate" required>
    </div>
</div>
<div class="bzg mb-12">
    <div class="bzg_c form-label" data-col="s12,m4,l4">Gender</div>
    <div class="bzg_c" data-col="s12,m8,l8">
        <div class="form-check-group">
            <label class="form-check__item" for="gender1"><input id="gender1" type="radio" name="gender" required> Male</label>
            <label class="form-check__item" for="gender2"><input id="gender2" type="radio" name="gender"> Female</label>
        </div>
    </div>
</div>
<div class="bzg mb-24">
    <div class="bzg_c form-label" data-col="s12,m4,l4">Hobbies</div>
    <div class="bzg_c" data-col="s12,m8,l8">
        <div class="form-check-group form-input--block">
            <label class="form-check__item" for="hobby1"><input id="hobby1" type="checkbox" name="hobby" required> Reading</label>
            <label class="form-check__item" for="hobby2"><input id="hobby2" type="checkbox" name="hobby"> Writing</label>
            <label class="form-check__item" for="hobby3"><input id="hobby3" type="checkbox" name="hobby"> Running</label>
            <label class="form-check__item" for="hobby4" data-invalid="Custom Error Message"><input id="hobby4" type="checkbox" name="hobby"> Swimming</label>
        </div>
    </div>
</div>
<div class="bzg mb-12">
    <div class="bzg_c" data-col="s12,m8,l8" data-offset="m4,l4">
        <button class="btn btn--primary" type="submit">Submit</button>
    </div>
</div>
</form>`
</script>
