<template>
    <main id="main" role="main" class="container">
        <article id="poke-api">
            <section id="button" class="border-b pb-5">
                <h1 class="text-4xl font-bold font-mono text-primary mb-5">Buttons</h1>
                <div class="flex flex-col gap-3">
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-primary">Button Color</button>
                        <button class="btn btn-ghost-primary">Button Color</button>
                        <button class="btn btn-flat-primary">Button Color</button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-secondary">Button Color</button>
                        <button class="btn btn-ghost-secondary">Button Color</button>
                        <button class="btn btn-flat-secondary">Button Color</button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-warning">Button Color</button>
                        <button class="btn btn-ghost-warning">Button Color</button>
                        <button class="btn btn-flat-warning">Button Color</button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-danger">Button Color</button>
                        <button class="btn btn-ghost-danger">Button Color</button>
                        <button class="btn btn-flat-danger">Button Color</button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-black">Button Color</button>
                        <button class="btn btn-ghost-black">Button Color</button>
                        <button class="btn btn-flat-black">Button Color</button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-grey">Button Color</button>
                        <button class="btn btn-ghost-grey">Button Color</button>
                        <button class="btn btn-flat-grey">Button Color</button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-light-grey">Button Color</button>
                        <button class="btn btn-ghost-light-grey">Button Color</button>
                        <button class="btn btn-flat-light-grey">Button Color</button>
                    </div>
                    <highlightjs class="text-sm" lang="markdown" :code="buttonCode"/>
                </div>
            </section>
            <section id="button-sizing" class="mt-5 border-b pb-5">
                <h2 class="text-4xl font-bold font-mono text-primary mb-5">Button Sizing</h2>
                <div class="flex flex-col gap-3">
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-primary btn-small">Small Button</button>
                        <button class="btn btn-ghost-primary btn-small">Small Button</button>
                        <button class="btn btn-flat-primary btn-small">Small Button</button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-primary">Normal Button</button>
                        <button class="btn btn-ghost-primary">Normal Button</button>
                        <button class="btn btn-flat-primary">Normal Button</button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-primary btn-large">Large Button</button>
                        <button class="btn btn-ghost-primary btn-large">Large Button</button>
                        <button class="btn btn-flat-primary btn-large">Large Button</button>
                    </div>
                    <highlightjs class="text-sm" lang="markdown" :code="buttonSizingCode"/>
                </div>
            </section>
            <section id="icon-only-button" class="mt-5">
                <h2 class="text-4xl font-bold font-mono text-primary mb-5">Icon-Only Buttons</h2>
                <div class="flex flex-col gap-3">
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-primary btn-small">
                            <nuxt-icon name="icon-search" class="text-2xl" filled />
                        </button>
                        <button class="btn btn-ghost-primary btn-small">
                            <nuxt-icon name="icon-user" class="text-2xl" />
                        </button>
                        <button class="btn btn-flat-primary btn-small">
                            <nuxt-icon name="icon-share" class="text-2xl" />
                        </button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-primary">
                            <nuxt-icon name="icon-search" class="text-2xl" filled />
                        </button>
                        <button class="btn btn-ghost-primary">
                            <nuxt-icon name="icon-user" class="text-2xl" />
                        </button>
                        <button class="btn btn-flat-primary">
                            <nuxt-icon name="icon-share" class="text-2xl" />
                        </button>
                    </div>
                    <div class="flex items-center gap-3 flex-wrap">
                        <button class="btn btn-primary btn-large">
                            <nuxt-icon name="icon-search" class="text-2xl" filled />
                        </button>
                        <button class="btn btn-ghost-primary btn-large">
                            <nuxt-icon name="icon-user" class="text-2xl" />
                        </button>
                        <button class="btn btn-flat-primary btn-large">
                            <nuxt-icon name="icon-share" class="text-2xl" />
                        </button>
                    </div>
                    <highlightjs class="text-sm" lang="markdown" :code="iconOnlyButtonCode"/>
                </div>
            </section>
        </article>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/button',
    en: '/button'
})

const buttonCode = `<p>
    <button class="btn--primary">Button Color</button>
    <button class="btn--ghost-primary">Button Color</button>
    <button class="btn--flat-primary">Button Color</button>
</p>
<p>
    <button class="btn--secondary">Button Color</button>
    <button class="btn--ghost-secondary">Button Color</button>
    <button class="btn--flat-secondary">Button Color</button>
</p>
<p>
    <button class="btn--warning">Button Color</button>
    <button class="btn--ghost-warning">Button Color</button>
    <button class="btn--flat-warning">Button Color</button>
</p>
<p>
    <button class="btn--danger">Button Color</button>
    <button class="btn--ghost-danger">Button Color</button>
    <button class="btn--flat-danger">Button Color</button>
</p>
<p>
    <button class="btn--black">Button Color</button>
    <button class="btn--ghost-black">Button Color</button>
    <button class="btn--flat-black">Button Color</button>
</p>
<p>
    <button class="btn--light-grey">Button Color</button>
    <button class="btn--ghost-light-grey">Button Color</button>
    <button class="btn--flat-light-grey">Button Color</button>
</p>
<p>
    <button class="btn--white">Button Color</button>
    <button class="btn--ghost-white">Button Color</button>
    <button class="btn--flat-white">Button Color</button>
</p>
`

const buttonSizingCode = `<p>
    <button class="btn--primary btn--small">Small Button</button>
    <button class="btn--ghost-primary btn--small">Small Button</button>
    <button class="btn--flat-primary btn--small">Small Button</button>
</p>
<p>
    <button class="btn--primary">Normal Button</button>
    <button class="btn--ghost-primary">Normal Button</button>
    <button class="btn--flat-primary">Normal Button</button>
</p>
<p>
    <button class="btn--primary btn--large">Large Button</button>
    <button class="btn--ghost-primary btn--large">Large Button</button>
    <button class="btn--flat-primary btn--large">Large Button</button>
</p>`

const iconOnlyButtonCode = `<p>
    <button class="btn--primary btn--small btn--icon">
        <i class="fas fa-search fa-sm"></i>
    </button>
    <button class="btn--ghost-black btn--small btn--icon">
        <i class="fas fa-times fa-sm"></i>
    </button>
    <button class="btn--flat-light-grey btn--small btn--icon">
        <i class="fas fa-user fa-sm"></i>
    </button>
</p>
<p>
    <button class="btn--primary btn--icon">
        <i class="fas fa-user"></i>
    </button>
    <button class="btn--ghost-black btn--icon">
        <i class="fas fa-search"></i>
    </button>
    <button class="btn--flat-light-grey btn--icon">
        <i class="fas fa-times"></i>
    </button>
</p>
<p>
    <button class="btn--primary btn--large btn--icon">
        <i class="fas fa-times fa-lg"></i>
    </button>
    <button class="btn--ghost-black btn--large btn--icon">
        <i class="fas fa-user fa-lg"></i>
    </button>
    <button class="btn--flat-light-grey btn--large btn--icon">
        <i class="fas fa-search fa-lg"></i>
    </button>
</p>`
</script>
