<template>
    <main id="main" role="main" class="container">
        <section id="pagination" class="pb-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Bz Icons</h1>
            <div>
                <h3 class="font-bold my-5">Smaller Icons</h3>
                <nuxt-icon name="icons-home" color="black" class="text-sm" />
                <highlightjs lang="markdown" class="mt-5 text-sm" code='<i class="bzi-notification bzi-0_5x"></i>' />
            </div>
            <div>
                <h3 class="font-bold my-5">Normal Icons</h3>
                <nuxt-icon name="icons-home" color="black" class="text" />
                <highlightjs lang="markdown" class="mt-5 text-sm" code='<i class="bzi-notification"></i>' />
            </div>
            <div>
                <h3 class="font-bold my-5">Larger Icons</h3>
                <nuxt-icon name="icons-home" color="black" class="text-2xl" />
                <highlightjs lang="markdown" class="mt-5 text-sm" code='<i class="bzi-notification bzi-2x"></i>' />
            </div>
            <div>
                <h3 class="font-bold my-5">Mirror Icons</h3>
                <div class="-scale-100 w-fit">
                    <nuxt-icon name="icons-home" color="black" class="text-2xl" />
                </div>
                <highlightjs lang="markdown" class="mt-5 text-sm" code='<i class="bzi-notification bzi-180"></i>' />
            </div>
        </section>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/bz-icons',
    en: '/bz-icons'
})
</script>
