<template>
  <div>
    <div>
      <Header :is-sidebar-open="isSidebarOpen" :set-is-sidebar-open="setIsSidebarOpen" />
      <Sidebar :is-sidebar-open="isSidebarOpen" :set-is-sidebar-open="setIsSidebarOpen" />
      <div class="md:ml-56 md:px-10 md:pt-10 md:pr-16 px-5 mt-4">
        <slot />
        <Footer />
      </div>
    </div>
  </div>
</template>

<script setup>
const isSidebarOpen = ref(false)
const setIsSidebarOpen = (val) => {
  isSidebarOpen.value = val
}
</script>
