<template>
    <main id="main" role="main" class="container">
        <section id="pagination" class="border-b pb-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Pagination</h1>
            <ol class="pagination flex items-center justify-center gap-3 my-5">
                <li v-for="items in paginationDatas" :key="items.label">
                    <a v-if="items.label !== 'previous' && items.label !== 'next'" class="w-full h-full flex items-center justify-center" :class="{ 'is-active' : items.label === activePage }" href="#" @click="activePage = items.label">{{ items.label }}</a>
                    <a v-else href="#">
                        <i v-if="items.label === 'previous'" class="fas fa-angle-left"></i>
                        <i v-else-if="items.label === 'next'" class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ol>
            <highlightjs class="text-sm my-5" lang="markdown" :code="paginationCode"/>
        </section>
        <section id="pagination-left" class="py-5 border-b">
            <h1 class="text-4xl font-bold font-mono text-primary">Left Pagination</h1>
            <ol class="pagination flex items-center justify-start gap-3 my-5">
                <li v-for="items in paginationDatas" :key="items.label">
                    <a v-if="items.label !== 'previous' && items.label !== 'next'" class="w-full h-full flex items-center justify-center" :class="{ 'is-active' : items.label === activePage }" href="#" @click="activePage = items.label">{{ items.label }}</a>
                    <a v-else href="#">
                        <i v-if="items.label === 'previous'" class="fas fa-angle-left"></i>
                        <i v-else-if="items.label === 'next'" class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ol>
            <highlightjs class="text-sm my-5" lang="markdown" :code="paginationLeftCode"/>
        </section>
        <section id="pagination-right" class="py-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Right Pagination</h1>
            <ol class="pagination flex items-center justify-end gap-3 my-5">
                <li v-for="items in paginationDatas" :key="items.label">
                    <a v-if="items.label !== 'previous' && items.label !== 'next'" class="w-full h-full flex items-center justify-center" :class="{ 'is-active' : items.label === activePage }" href="#" @click="activePage = items.label">{{ items.label }}</a>
                    <a v-else href="#">
                        <i v-if="items.label === 'previous'" class="fas fa-angle-left"></i>
                        <i v-else-if="items.label === 'next'" class="fas fa-angle-right"></i>
                    </a>
                </li>
            </ol>
            <highlightjs class="text-sm my-5" lang="markdown" :code="paginationRightCode"/>
        </section>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/pagination',
    en: '/pagination'
})

const activePage = ref('1')

const paginationDatas = [
    {
        label: 'previous',
        url: '#'
    },
    {
        label: '1',
        url: '#'
    },
    {
        label: '2',
        url: '#'
    },
    {
        label: '3',
        url: '#'
    },
    {
        label: '4',
        url: '#'
    },
    {
        label: 'next',
        url: '#'
    }
]

const paginationCode = `<ol class="pagination">
    <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
    <li><a class="is-active" href="#">1</a></li>
    <li><a href="#" disabled>2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>`

const paginationLeftCode = `<ol class="pagination--left">
    <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
    <li><a class="is-active" href="#">1</a></li>
    <li><a href="#" disabled>2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>`

const paginationRightCode = `<ol class="pagination--right">
    <li><a href="#"><i class="fas fa-angle-left"></i></a></li>
    <li><a class="is-active" href="#">1</a></li>
    <li><a href="#" disabled>2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#"><i class="fas fa-angle-right"></i></a></li>
</ol>`
</script>

<style scoped lang="scss">
.pagination li:not(:first-child):not(:last-child){
    @apply w-10 h-10 bg-custom-light-grey hover:text-red-600;
    @apply flex items-center justify-center;
    @apply hover:bg-gray-300;
}

.is-active {
    @apply bg-gray-300 font-bold;
}
</style>
