<template>
    <main id="main" role="main" class="container">
        <article id="alert">
            <h1 class="text-4xl font-bold font-mono text-primary mb-5">Flex Card</h1>
            <section id="flex-card" class="border-b pb-5">
                <div class="flex md:flex-row flex-col flex-wrap items-stretch gap-3 w-full">
                    <div class="card card-blue">
                        <div class="card-header">
                            Card Header
                        </div>
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="mb-5 font-bold">Card</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
                                fugiat. Assumenda.
                            </p>
                        </div>
                        <div class="card-footer">
                            Ini card footer
                        </div>
                    </div>
                    <div class="card card-dark-grey">
                        <div class="card-header">
                            Card Header
                        </div>
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="mb-5 font-bold">Card</h5>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut
                                praesentium quasi, quidem odit incidunt iste, doloremque fugiat
                                voluptatum cum alias dignissimos earum numquam laudantium
                                delectus.
                            </p>
                        </div>
                        <div class="card-footer">
                            Ini card footer
                        </div>
                    </div>
                    <div class="card card-grey">
                        <div class="card-header">
                            Card Header
                        </div>
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="mb-5 font-bold">Card</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
                                fugiat. Assumenda.
                            </p>
                        </div>
                    </div>
                    <div class="card card-light-grey">
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="mb-5 font-bold">Card</h5>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
                                fugiat. Assumenda.
                            </p>
                        </div>
                        <div class="card-footer">
                            Ini card footer
                        </div>
                    </div>
                    <highlightjs class="text-sm w-full overflow-auto" lang="markdown" :code="flexCardCode" />
                </div>
            </section>
            <section id="baze-grid-card" class="pb-5">
                <h2 class="text-4xl font-bold font-mono text-primary my-5">Baze Grid Card</h2>
                <div class="grid grid-cols-auto-fit gap-[12px]">
                    <div class="card card-blue">
                        <div class="card-header">
                            Card Header
                        </div>
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="font-bold">Card</h5>
                            <p class="text-right my-5">6 September 2021</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
                                fugiat. Assumenda.
                            </p>
                        </div>
                        <div class="card-footer">
                            Ini card footer
                        </div>
                    </div>
                    <div class="card card-blue">
                        <div class="card-header">
                            Card Header
                        </div>
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="font-bold">Card</h5>
                            <p class="text-right my-5">6 September 2021</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
                                fugiat. Assumenda.
                            </p>
                        </div>
                        <div class="card-footer">
                            Ini card footer
                        </div>
                    </div>
                    <div class="card card-blue">
                        <div class="card-header">
                            Card Header
                        </div>
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="font-bold">Card</h5>
                            <p class="text-right my-5">6 September 2021</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
                                fugiat. Assumenda.
                            </p>
                        </div>
                        <div class="card-footer">
                            Ini card footer
                        </div>
                    </div>
                    <div class="card card-blue">
                        <div class="card-header">
                            Card Header
                        </div>
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="font-bold">Card</h5>
                            <p class="text-right my-5">6 September 2021</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
                                fugiat. Assumenda.
                            </p>
                        </div>
                        <div class="card-footer">
                            Ini card footer
                        </div>
                    </div>
                    <div class="card card-blue">
                        <div class="card-header">
                            Card Header
                        </div>
                        <nuxt-img class="card-image" src="/assets/img/site-logo.png" alt="Logo" loading="lazy" quality="80" />
                        <div class="card-body">
                            <h5 class="font-bold">Card</h5>
                            <p class="text-right my-5">6 September 2021</p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
                                ab saepe ex aliquam aliquid dolorum praesentium, corrupti magni
                                fugiat. Assumenda.
                            </p>
                        </div>
                        <div class="card-footer">
                            Ini card footer
                        </div>
                    </div>
                </div>
                <highlightjs class="text-sm overflow-auto w-full mt-5" lang="markdown" :code="flexCardCode" />
            </section>
        </article>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/card',
    en: '/card'
})

const flexCardCode = `<div class="card-group">
    <div class="card--primary mb-12">
        <div class="card--header">
            Card header
        </div>
        <img class="card--image" src="..." alt="">
        <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos quia consectetur quibusdam repudiandae!</p>
        </div>
        <div class="card--footer">
            Card footer
        </div>
    </div>
    <div class="card--secondary mb-12">
        <div class="card--header">
            Card header
        </div>
        <img class="card--image" src="..." alt="">
        <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="card--footer">
            Card footer
        </div>
    </div>
    <div class="card--light-grey mb-12">
        <div class="card--header">
            Card header
        </div>
        <img class="card--image" src="..." alt="">
        <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
        </div>
    </div>
    <div class="card mb-12">
        <img class="card--image" src="..." alt="">
        <div class="card--body">
            <h5>Card</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A veniam rerum nihil laboriosam,
            architecto sequi dolor doloribus impedit totam voluptatibus earum vel exercitationem quas commodi. Quidem, fugit corrupti beatae accusantium!</p>
        </div>
        <div class="card--footer">
            Card footer
        </div>
    </div>
</div>`
</script>
