<template>
  <div class="bg-[#555]">
    <header class="fixed top-5 left-10 right-10">
      <NuxtLink class="font-mono flex items-center gap-3" :to="localePath(`/`)">
        <nuxt-img src="/assets/img/site-logo.png" alt="Logo" width="35" loading="lazy" quality="80" />
        <span class="font-semibold text-2xl text-white font-mono">Baze UI</span>
      </NuxtLink>
    </header>
    <section class="p-5 px-10 flex items-center justify-center min-h-screen">
      <div class="md:w-1/2">
        <nuxt-img src="/assets/img/site-logo.png" class="mx-auto" alt="Logo" width="150" loading="lazy" quality="80" />
        <h1 class="text-3xl font-mono text-white text-center mt-5">A minimal setup for your frontend environment</h1>
        <div class="flex flex-wrap items-center justify-center gap-5 mt-10 font-mono md:gap-10">
          <NuxtLink :to="localePath('/getstarted')" class="btn-custom btn-orange uppercase">
            Get Started
          </NuxtLink>
          <NuxtLink to="https://github.com/suitmedia/suit-baze" class="btn-custom btn-secondary uppercase">
            Download
          </NuxtLink>
        </div>
      </div>
    </section>
    <footer
      class="flex items-center justify-center fixed left-0 right-0 bottom-0 md:border-t-0 border-t p-5 gap-10 font-mono">
      <span class="text-white text-center">Version 1.3.2</span>
      <span class="text-white text-center">|</span>
      <span class="text-white text-center">Powered by: Suitmedia</span>
    </footer>
    <div class="fixed bottom-0 left-1/2 -translate-x-1/2" :class="{ 'animate-slide-up': showPopup, 'animate-slide-down': !showPopup }">
      <div class="bg-white rounded-xl p-3  min-w-[350px]">
        <h2 class="text-black font-bold font-mono text-xl mb-3">Install Baze App?</h2>
        <div class="flex items-center gap-3 w-full">
          <button class="btn btn-ghost-black w-1/2" @click="showPopup = false">next time</button>
          <button class="btn btn-primary w-1/2">install app</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useThemeStore } from '~/store/global';

const theme = useThemeStore()

const localePath = useLocalePath()

definePageMeta({
  layout: 'blanklayout'
})

useHead({
  title: 'Suit Baze Nuxt 3'
})

const showPopup = ref(true)

const expires = new Date()
expires.setTime(expires.getTime() + 1000 * 60 * 60 * 24) // 1 Day

theme.darkTheme = useCookie('theme', {
  default: () => false,
  expires
})
/**
 * JSONLD
 */
useJsonld({
  '@type': 'LocalBusiness',
  name: 'Suitmedia',
  url: 'suitmedia.com',
  email: 'contact(at)suitmedia.com',
  telephone: '+62 21 719 6877',
  legalName: 'PT Suitmedia Kreasi Indonesia',
  location: 'Jakarta, Bandung, Yogyakarta, Singapore',
  description: 'Digital Agency Indonesia',
  address: {
    '@type': 'PostalAddress',
    addressLocality: 'Jakarta, Indonesia',
    postalCode: '12510',
    streetAddress: 'Jl. Pejaten Barat II No. 3A'
  }
})

/*
JSONLD
*/
</script>

<style lang="scss" scoped>
.btn-custom {
  @apply text-white p-2 hover:opacity-95 md:w-2/6 w-full grid place-items-center;
}

.btn-orange {
  @apply bg-primary;
}

.btn-secondary {
  @apply hover:bg-white hover:text-black border;
}

.animate-slide-up {
  animation: slideup 1s ease-in-out normal forwards;
}
.animate-slide-down {
  animation: slidedown 1s ease-in-out normal forwards;
}

@keyframes slideup {
  0% {
    @apply -bottom-[200px];
  }

  100% {
    @apply bottom-5;
  }
}

@keyframes slidedown {
  0% {
    @apply bottom-5;
  }
  100% {
    @apply -bottom-[200px];
  }

}
</style>
