<template>
    <main id="main" role="main" class="container">
        <section id="text-color" class="border-b pb-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Text Color</h1>
            <p class="text-custom-blue my-3">Text class color = ".text-blue"</p>
            <p class="text-custom-dark-grey my-3">Text class color = ".text-dark-grey"</p>
            <p class="text-primary my-3">Text class color = ".text-primary"</p>
            <p class="text-custom-red my-3">Text class color = ".text-red"</p>
            <p class="text-black my-3">Text class color = ".text-black"</p>
            <p class="text-custom-grey my-3">Text class color = ".text-grey"</p>
            <p class="text-custom-light-grey my-3">Text class color = ".text-light-grey"</p>
            <div>
                <highlightjs class="text-sm" lang="xml" code='<p class="text-custom-blue">Text class color = ".text-custom-blue"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="text-custom-dark-grey">Text class color = ".text-custom-dark-grey"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="text-custom-primary">Text class color = ".text-custom-primary"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="text-custom-red">Text class color = ".text-custom-red"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="text-black">Text class color = ".text-black"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="text-custom-grey">Text class color = ".text-custom-grey"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="text-custom-light-grey">Text class color = ".text-custom-light-grey"</p>'/>
            </div>
        </section>
        <section id="background-color" class="py-5 border-b">
            <h1 class="text-4xl font-bold font-mono text-primary">Background Color</h1>
            <p class="bg-custom-blue my-3">Text class color = ".bg-custom-blue"</p>
            <p class="bg-custom-dark-grey my-3">Text class color = ".bg-custom-dark-grey"</p>
            <p class="bg-primary my-3">Text class color = ".bg-primary"</p>
            <p class="bg-custom-red my-3">Text class color = ".bg-custom-red"</p>
            <p class="bg-black my-3">Text class color = ".bg-black"</p>
            <p class="bg-custom-grey my-3">Text class color = ".bg-custom-grey"</p>
            <p class="bg-custom-light-grey my-3">Text class color = ".bg-custom-light-grey"</p>
            <div>
                <highlightjs class="text-sm language-xml" lang="markdown" code='<p class="bg-custom-blue">Text class color = ".bg-custom-blue"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-dark-grey">Text class color = ".bg-custom-dark-grey"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-primary">Text class color = ".bg-primary"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-red">Text class color = ".bg-custom-red"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-black">Text class color = ".bg-black"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-grey">Text class color = ".bg-custom-grey"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-light-grey">Text class color = ".text-custom-light-grey"</p>'/>
            </div>
        </section>
        <section id="black-tones" class="pt-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Black Tones</h1>
            <p class="text-black opacity-10 my-3">Black tone = ".text-black10" ($black10)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-20 my-3">Black tone = ".text-black20" ($black20)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-30 my-3">Black tone = ".text-black30" ($black30)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-40 my-3">Black tone = ".text-black40" ($black40)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-50 my-3">Black tone = ".text-black50" ($black50)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-60 my-3">Black tone = ".text-black60" ($black60)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-70 my-3">Black tone = ".text-black70" ($black70)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-80 my-3">Black tone = ".text-black80" ($black80)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-90 my-3">Black tone = ".text-black90" ($black90)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <p class="text-black opacity-100 my-3">Black tone = ".text-black100" ($black100)<span class="w-5 h-5 inline-block bg-black ml-2"></span></p>
            <div>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-blue">Text class color = ".bg-custom-blue"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-dark-grey">Text classcolor = ".bg-custom-dark-grey"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-primary">Text class color = ".bg-primary"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-red">Text class color = ".bg-custom-red"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-black">Text class color = ".bg-black"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-grey">Text class color = ".bg-custom-grey"</p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p class="bg-custom-light-grey">Text class color = ".text-custom-light-grey"</p>'/>
            </div>
        </section>
        <section id="link-color" class="pt-5">
            <h1 class="text-4xl font-bold font-mono text-primary">Link Color</h1>
            <p class="my-3">Link color = <a href="#" class="hover:text-red-700 text-custom-blue">".link-blue"</a>(<span class="text-custom-blue">Default link color</span>)</p>
            <p class="my-3">Link color = <a href="#" class="hover:text-red-700 text-custom-dark-grey">".link-dark-grey"</a></p>
            <p class="my-3">Link color = <a href="#" class="hover:text-red-700 text-primary">".link-primary"</a></p>
            <p class="my-3">Link color = <a href="#" class="hover:text-red-700 text-custom-red">".link-red"</a></p>
            <p class="my-3">Link color = <a href="#" class="hover:text-red-700 text-black">".link-black"</a></p>
            <p class="my-3">Link color = <a href="#" class="hover:text-red-700 text-custom-grey">".link-grey"</a></p>
            <p class="my-3">Link color = <a href="#" class="hover:text-red-700 text-custom-light-grey">".link-light-grey"</a></p>
            <div>
                <highlightjs class="text-sm" lang="xml" code='<p>Link color = <a class="text-custom-blue" href="#">".link-blue"</a></p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p>Link color = <a class="link-dark-grey" href="#">".link-dark-grey"</a></p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p>Link color = <a class="link-primary" href="#">".link-primary"</a></p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p>Link color = <a class="link-red" href="#">".link-red"</a></p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p>Link color = <a class="link-black" href="#">".link-black"</a></p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p>Link color = <a class="link-grey" href="#">".link-grey"</a></p>'/>
                <highlightjs class="text-sm" lang="xml" code='<p>Link color = <a class="link-light-grey" href="#">".link-light-grey"</a></p>'/>
            </div>
        </section>
    </main>
</template>

<script setup>
defineI18nRoute({
  paths: {
    id: '/colors',
    en: '/colors'
  }
})
</script>
