<template>
    <main id="main" role="main" class="container">
        <article id="responsive-media">
            <h1 class="text-4xl font-bold font-mono text-primary">Responsive Media</h1>
            <section id="landscape" class="mt-5">
                <h3 class="font-bold font-mono text-primary text-xl">Landscape</h3>
                <div class="w-full pb-[50%] responsive-media my-5">
                    <nuxt-img src="/assets/img/site-logo.png" fit="cover" alt="Logo" loading="lazy" quality="80" />
                </div>
            </section>
            <section id="square">
                <h3 class="font-bold font-mono text-primary text-xl mt-5">Square</h3>
                <div class="w-full responsive-media r-1">
                    <nuxt-img src="/assets/img/site-logo.png" fit="cover" alt="Logo" loading="lazy" quality="80" />
                </div>
            </section>
        </article>
    </main>
</template>

<script setup>
defineI18nRoute({
    id: '/responsive-media',
    en: '/responsive-media'
})
</script>

<style lang="scss" scoped>
.responsive-media {
    @apply relative h-0 overflow-hidden block;
}

.responsive-media.r-1 {
    @apply pb-[100%];
}

.responsive-media>* {
    @apply absolute top-0 left-0 w-full h-full object-cover;
}
</style>
